main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}
main .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
.block.block1 {
    background-color: mediumvioletred;
    grid-row-start: 2;
    grid-row-end: 3;
}

.block.block2 {
    background-color: mediumslateblue;
    grid-row-start: 1;
    grid-row-end: 2;
}

.block.block3 {
    background-color: steelblue;
    grid-row-start: 3;
    grid-row-end: 4;
}

.block.block4 {
    background-color: lightseagreen;
    grid-row-start: 4;
    grid-row-end: 5;
}

@media screen and (min-width: 772px) {
    .block.block1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .block.block2 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .block.block3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
@media screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

    .block.block1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .block.block2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .block.block3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .block.block4 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 320px) and (max-width: 772px) {
    main {
        grid-template-rows: auto auto auto auto;
    }
    .block.block1 {
        grid-row: 2;
    }
    .block.block2 {
        grid-row: 1;
    }
    .block.block3 {
        grid-row: 3;
    }
    .block.block4 {
        grid-row: 4;
    }
}
