.container {
    width: 95%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: left;
}

.header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0;
}

.nav {
    background-color: #333;
    text-align: left;
    padding: 10px;
}

.nav a {
    color: mediumspringgreen;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 10px;
}

article {
    margin-bottom: 10px;
    padding: 15px;
    background-color: lightgrey;
}

article h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-decoration: black underline;
}

article p {
    font-size: 1em;
    line-height: 1.6;
}

article footer a {
    color: blue;
    text-decoration: blue underline;
}

article footer a:hover {
    text-decoration: underline;
}

.footer {
    padding: 10px;
    margin-top: 10px;
    font-size: 0.9em;
}
