body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 440px;
}

.card {
    width: 100px;
    height: 140px;
    background-image: url('../images/achterkant.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.flipped {
    background-size: contain;
}

.hidden {
    visibility: hidden;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
