html {
    background-color: #333;
    font-family: helvetica sans-serif;
    text-align: center;
}

* {
    padding: 10px;
}

canvas {
    background-color: #333;
}

header, footer {
    background-color: #ddaa00;
}

nav a{
    color: #ddaa00;
    border: 1px #ccc solid;
}

main{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

body{
    margin: 5px;
}

section{
    margin: 5px;
    background-color: white;
}

section a{
    border: 1px #333 solid;
    color: grey;
}

h1{
    margin: 0px;
}

img{
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 0 5px;
    padding: 5px 2px;
}
section {
    background-color: white;
    padding-bottom: 20px;
}

@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
}